<header class="header__container">
  <div class="header__logo">
    <img class="header__logo__img" src="./assets/images/logo.png" alt="logo spotify" title="Spotify" />
  </div>
  <nav class="header__menu">
    <ul>
      <li class="header__menu--item"><a class="header__menu--link" href="#">Premium</a></li>
      <li class="header__menu--item"><a class="header__menu--link" href="#">Ayuda</a></li>
      <li class="header__menu--item"><a class="header__menu--link" href="#">Descargar</a></li>
      <li class="header__menu--item"><a class="header__menu--link" href="#">Registrate</a></li>
      <li class="header__menu--item"><a class="header__menu--link" href="#">Iniciar sesión</a></li>
    </ul>
  </nav>
</header>
