<main class="main__container">
  <header class="main__header">
    <h1>Prueba Premium gratis 3 meses</h1>
    <h2>Escucha millones de canciones sin anuncios, a la carta y sin conexión.</h2>
    <button>Ver planes</button>
    <p>Rigen términos y condiciones. Los tres meses gratis no están sujetos para usuarios que ya hayan probado premium</p>
  </header>
  <section class="section__list">
    <h1>¿Por qué pasarte a Premium?</h1>

    <div class="item1">
      <img />
      <h2>Descarga música</h2>
      <p>Llévala siempre contigo</p>

      <div class="item2">
        <img />
        <h2>Sin anuncios</h2>
        <p>Disfruta de música sin interrupciones</p>
      </div>

      <div class="item3">
        <img />
        <h2>Escuha lo que quieras</h2>
        <p>Incluso en el móvil</p>
      </div>

      <div class="item4">
        <img />
        <h2>Salta todas las canciones que quieras</h2>
        <p>Simplemente dale a siguiente</p>
      </div>
    </div>
  </section>
</main>
