<main class="main__container">
  <header class="main__header">
    <!-- <div class="main__header--img"><img src="./assets/images/premium_dancer.png" /></div> -->
    <h1 class="main__header--title">Prueba Premium gratis 3 meses</h1>
    <h2 class="main__header--subtitle">Escucha millones de canciones sin anuncios, a la carta y sin conexión.</h2>
    <button class="main__header--button">Ver planes</button>
    <small class="main__header--small">Rigen términos y condiciones. Los tres meses gratis no están sujetos para usuarios que ya hayan probado premium</small>
  </header>
  <section>
    <header class="premium__header">
      <h1 class="premium__title">¿Por qué pasarte a Premium?</h1>
    </header>
    <ul class="premium__features">
      <li class="premium__features--list">
        <img class="premium__features--img" src="./assets/images/benefit-1.png" alt title="descarga música" />

        <div class="premium__features--text">
          <h2 class="premium__features--title">Descarga música</h2>
          <p class="premium__features--desc">Llévala siempre contigo</p>
        </div>
      </li>
      <li class="premium__features--list">
        <img class="premium__features--img" src="./assets/images/benefit-2.png" alt title="Sin anuncios" />
        <div class="premium__features--text">
          <h2 class="premium__features--title">Sin anuncios</h2>
          <p class="premium__features--desc">Disfruta de música sin interrupciones</p>
        </div>
      </li>
      <li class="premium__features--list">
        <img class="premium__features--img" src="./assets/images/benefit-3.png" alt title="Escucha lo que quieras" />
        <div class="premium__features--text">
          <h2 class="premium__features--title">Escuha lo que quieras</h2>
          <p class="premium__features--desc">Incluso en el móvil</p>
        </div>
      </li>
      <li class="premium__features--list">
        <img class="premium__features--img" src="./assets/images/benefit-4.png" alt title="Salta todas las canciones que quieras" />
        <div class="premium__features--text">
          <h2 class="premium__features--title">Salta todas las canciones que quieras</h2>
          <p class="premium__features--desc">Simplemente dale a siguiente</p>
        </div>
      </li>
    </ul>
  </section>
</main>
