<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <header class="header__container">
      <partial src="_header.html"></partial>
    </header>

    <main class="main__container">
      <partial src="_main.html"></partial>
    </main>

    <footer class="footer__container">
      <partial src="_footer.html"></partial>
    </footer>
  </body>
</html>
